
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Course</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link href="css/custom.css" rel="stylesheet">

</head>
  <body>


    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">CLOUD COMPUTING BASICS</a>
    </nav>

    </script>
    <div class="container">
      <div class="jumbotron">
        <h1><strong>CLOUD COMPUTING</strong></h1>
        <p>CCloud Computing refers to manipulating, configuring, and accessing the hardware and software resources remotely. It offers online data storage, infrastructure, and application.Cloud computing offers platform independency, as the software is not required to be installed locally on the PC. Hence, the Cloud Computing is making our business applications mobile and collaborative.</p>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">TYPES OF CLOUD COMPUTING

              </h1>
              <p>Cloud computing is a type of Internet-based computing that provides shared computer processing resources and data to computers and other devices on demand.
         Cloud computing is usually described in one of two ways. Either based on the cloud location, or on the service that the cloud is offering.Cloud computing is usually described in one of two ways. Either based on the deployment model, or on the service that the cloud is offering.</p>
          </div>
      </div>
      <div class="row">
          <article class="col-md-4 article-intro">
              <a href="#">
                  <img src="https://www.tutorialspoint.com/cloud_computing/images/cloud_computing-iaas.jpg" alt="" height="250" width="320">
              </a>
              <h3>
                  <a href="#"> Infrastructure as a Service</a>
              </h3>
              <ul><li>Infrastructure-as-a-Service provides access to fundamental resources such as physical machines, virtual machines, virtual storage.</li>
                <li>IaaS allows the cloud provider to freely locate the infrastructure over the Internet in a cost-effective manner. </li>
              <li>Portability, interoperability with legacy applications.</li></ul>
          </article>
          <article class="col-md-4 article-intro">
              <a href="#">
                  <img class="img-responsive img-rounded" src="https://www.tutorialspoint.com/cloud_computing/images/cloud_computing-paas.jpg" alt="" height="250" width="320">
              </a>
              <h3>
                  <a href="#">Platform as a Service </a>
              </h3>
              <ul><li>Platform-as-a-Service offers the runtime environment for applications. It also offers development and deployment tools required to develop applications.</li><li>PaaS has a feature of point-and-click tools that enables non-developers to create web applications.</li></ul>
          </article>

          <article class="col-md-4 article-intro">
              <a href="#">
                  <img class="img-responsive img-rounded" src="https://www.tutorialspoint.com/cloud_computing/images/cloud_computing-soa_implementation_of_saas.jpg" alt="" height="250" width="320">
              </a>
              <h3>
                  <a href="#">Software-as–a-Service</a>
              </h3>
              <ul><li>SaaS model allows to provide software application as a service to the end users. It refers to a software that is deployed on a host service and is accessible via Internet.</li>
              <li>Some of the SaaS applications are not customizable such as Microsoft Office Suite. But SaaS provides us Application Programming Interface (API), which allows the developer to develop a customized application.</li></ul>
          </article>
      </div>
      <footer>
    		<div class="footer-blurb">
    			<div class="container">
    				<div class="row">
    					<div class="col-sm-4 footer-blurb-item">
    						<h3><span class="glyphicon glyphicon-fire"></span> PUBLIC CLOUD</h3>
    						<p>Public Cloud allows systems and services to be easily accessible to general public. The IT giants such as Google, Amazon and Microsoft offer cloud services via Internet.</p>
    						<p><a class="btn btn-default" href="#">PUBLIC CLOUD</a></p>
    					</div>
    					<div class="col-sm-4 footer-blurb-item">
    						<h3><span class="glyphicon glyphicon-cloud-upload"></span> PRIVATE CLOUD</h3>
    						<p>Private Cloud allows systems and services to be accessible within an organization. The Private Cloud is operated only within a single organization.</p>
    						<p><a class="btn btn-default" href="#">PRIVATE CLOUD</a></p>
    					</div>
    					<div class="col-sm-4 footer-blurb-item">
    						<h3><span class="glyphicon glyphicon-leaf"></span> HYBRID CLOUD</h3>
    						<p>Hybrid Cloud is a mixture of public and private cloud. Non-critical activities are performed using public cloud while the critical activities are performed using private cloud.</p>
    						<p><a class="btn btn-default" href="#"> HYBRID CLOUD</a></p>
    					</div>

    				</div>
    				<!-- /.row -->
    			</div>
            </div>
            <div class="small-print">
            	<div class="container">
            		<p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>

            	</div>
            </div>

        </footer>
        <form action = "http://localhost:5000/ass" method = 'POST'>
        <input type="submit" value="Continue">
        </form>



        <!-- jQuery -->
        <script src="js/jquery-1.11.3.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- IE10 viewport bug workaround -->
        <script src="js/ie10-viewport-bug-workaround.js"></script>

        <!-- Placeholder Images -->
        <script src="js/holder.min.js"></script>
  </body>
</html>
