<!DOCTYPE html>
<head>
<style type='text/css'>
body {
background= "C:\Users\Dharun\Desktop\Flask examples\webpages\a55.jpg";
}
form {
  margin:10px;
  padding: 0 5px;
  background: "C:\Users\Dharun\Desktop\Main\AI TUTOR\Static\a66.jpg";
}
input {
  margin:50px;
  padding:50px;
  border:10px solid #eee;
  font: normal 1em Verdana, sans-serif;
  color:#777;
}
</style>
</head>
<body background="C:\Users\Dharun\Desktop\Flask examples\webpages\a55.jpg">
<form action = "http://localhost:5000/questions/nltk" method = "POST">
  <font face="verdana" size="5" color="red">
  What is cloud computing?<br>
  <input type="text" name="user_text1" style="width: 500px; height:100px;" >
  <br>
 What are the types of cloud computing?<br>
  <input type="text" name="user_text2" style="width: 500px; height:100px;">
  <br><br>
  <input type="submit" value="Submit">
  </font>
</form>
</body>
</html>
